<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Arriendos</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
	integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
	crossorigin="anonymous"></script>
</head>
<body>
	<ul class="nav justify-content-end">
		<li class="nav-item"><a class="nav-link active" href="/home">Destinos</a></li>
		<li class="nav-item"><a class="nav-link active" href="/peliculavista">Pasajeros</a></li>
		<li class="nav-item"><a class="nav-link active" href="/arriendos">Añadir destino</a></li>
		<li class="nav-item"><a class="nav-link active" href="/peliculas">Añadir pasajero</a></li>
	</ul>
	<div class="container">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<h3>Destinos</h3>
			<form th:action="@{/arriendos/agregar}" method="post"
				th:object="${arriendo}">
				<div class="form-group row">
					<label for="inicio" class="col-4">Fecha</label>
					<div class="col-8">
						<input class="form-control" type="date"
							data-date-format="mm-dd-yyyy" id="inicio" name="inicio">
					</div>
				</div>
				<div class="form-group row">
					<label for="pais" class="col-4">Pais</label>
					<div class="col-8">
						<input class="form-control" type="text" value="" id="pais"
							name="pais">
					</div>
				</div>
				
								<div class="form-group row">
					<label for="ciudad" class="col-4">Ciudad</label>
					<div class="col-8">
						<input class="form-control" type="text" value="" id="ciudad"
							name="ciudad">
					</div>
				</div>
				
				<div class="form-group row">
					<label class="col-4">Nombre</label>
					<div class="col-8">
						<select th:field="*{pelicula}">
							<option th:each="pelicula : ${peliculas}"
								th:value="${pelicula.id}" th:text="${pelicula.nombre}"></option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-12">
						<button type="submit" class="btn
btn-primary">Agregar</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-sm-2">
			<p></p>
		</div>
	</div>
</body>
</html>


